<html>
  <head>
    <meta charset="UTF-8">
    <title>Receipt</title>
    <style>
      .return_sentence{
      float: left;
      margin-top: 0.10in;
      width: 60%;
      text-align: justify;
      font-size: 65%;
      }
    </style>
  </head>
  <div class="book">
  {% set joined_items = checkout_items + return_items %}
  {% with paginated_items = paginate(joined_items, 6) %}
    {% for items in paginated_items %}
    <div class="page">
      <div class="subpage">
        <div class="header">
          <div class="description">
            <p>
              {%if store_phone_number%}
                {{store_phone_number}}<br/>
              {% endif %}
              {%if store_name%}
                {{store_name}}<br/>
              {% endif %}
              {{tenant_address.address_line_1}},
              {{'' if tenant_address.address_line_2 == None or tenant_address.address_line_2 == '' else tenant_address.address_line_2 + ', '}}
              {{tenant_address.city}},
              {{'' if tenant_address.state == None or tenant_address.state == '' else tenant_address.state + ' '}}
              {{'' if tenant_address.zip_code == None or tenant_address.zip_code == '' else tenant_address.zip_code + ', '}}
              {{tenant_address.country_code}}
            </p>
          </div>
        </div>
        <div class="information">
          <div class="subject">
            <strong> [[[title]]] </strong>
          </div>
          <div class="user_order_details">
            {%if associate_name%}
                <p>{{associate_name}}</p>
            {% endif %}
            {%if customer_name%}
                <p>{{customer_name}}</p>
            {% endif %}
            <p> {{ format_date(created_at, timezone) }}</p>
            <p> {{ order_number }}</p>
            <p> {{ external_id }}</p>
          </div>
          <div class="order_details">
            {%if associate_name%}<p>[[[#table_header.associate]]]: </p>{% endif %}
            {%if customer_name%}<p>[[[#table_header.customer]]]: </p>{% endif %}
            <p>[[[#table_header.date]]]: </p>
            <p>[[[#table_header.purchase]]]:</p>
            <p>[[[#table_header.receipt]]]:</p>
          </div>
        </div>

        {% if billing_address != None or shipping_address != None %}
            {% if shipping_method and shipping_method != 'in_store_handover' %}
                <div class="information address">
                    {% if billing_address != None %}
                      <div class="billing-address">
                        <strong> [[[#information_address.billing_address]]]: </strong>
                        <p> {{ billing_address.name }} </p>
                        <p> {{ billing_address.address_line_1 }} {{ billing_address.address_line_2 }} </p>
                        <p> {{ billing_address.city }}{{'' if billing_address.state == None or billing_address.state == '' else ','}} {{ billing_address.state}}
                          {{ billing_address.zip_code if billing_address.zip_code != None else ''}} <p>
                        <p> {{ billing_address.country_name }} </p>
                      </div>
                     {% endif %}

                    {% if shipping_address != None %}
                      <div class="shipping-address">
                        <strong> [[[#information_address.shipping_address]]]: </strong>
                        <p> {{ shipping_address.name }}</p>
                        <p> {{ shipping_address.address_line_1 }}  {{ shipping_address.address_line_2 }} </p>
                        <p> {{ shipping_address.city }}{{'' if shipping_address.state == None or shipping_address.state == '' else ','}}
                          {{shipping_address.state }}
                          {{ shipping_address.zip_code if shipping_address.zip_code != None else ''}} </p>
                        <p> {{ shipping_address.country_name }} </p>
                      </div>
                     {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <div class="contents">
          <div class="table-wrapper">
            <table>
              <thead>
                <th class="desc">[[[#contents.header.description]]]</th>
                <th class="epc">[[[#contents.header.item_id]]]</th>
                <th class="quantity">[[[#contents.header.quantity]]]</th>
                <th class="returned_qty"></th>
                <th class="amount">[[[#contents.header.amount]]]</th>
              </thead>
            <tbody>
            {% set item_header = {"value": None} %}
            {% for item in items %}
                {% set item_price = item.get("price_net", None) %}
                {% if item_price != None %}

                    {% if item_header.value != "checkout" %}
                        <tr>
                            <td colspan="5">
                                <strong> [[[#contents.item.items_purchased]]] </strong><br>
                            </td>
                        </tr>
                        {% if item_header.update({"value": "checkout"}) %} {% endif %}
                    {% endif %}
                <tr>
                  <td class="desc">
                    <strong>{{ item.product_name }}</strong><br>
                    [[[#contents.item.size]]] {{ item.product_attributes.variation_size_value }}
                  </td>
                  <td class="epc">
                    <span> {{ item.external_identifier.epc if item.external_identifier and item.external_identifier.epc else '---' }} </span>
                  </td>
                  <td class="quantity">
                    <span> 1 </span>
                  </td>
                  <td class="returned_qty">
                  </td>
                  <td class="amount">
                    <span> {{ currency_code }} {{ format_currency(item_price) }} </span>
                  </td>
                </tr>
                {% endif %}
                {% set item_refund = item.get("refund_net", None) %}
                {% if item_refund != None %}

                    {% if item_header.value != "returned" %}
                        <tr>
                            <td colspan="5">
                                <strong> [[[#contents.item.items_returned]]] </strong><br>
                            </td>
                        </tr>
                        {% if item_header.update({"value": "returned"}) %} {% endif %}
                    {% endif %}
                <tr>
                  <td class="desc">
                    <strong>{{ item.product_name }}</strong><br>
                    [[[#contents.item.size]]] {{ item.product_attributes.variation_size_value }}
                  </td>
                  <td class="epc">
                    <span> {{ item.external_identifier.epc if item.external_identifier and item.external_identifier.epc else '---' }} </span>
                  </td>
                  <td class="quantity">
                    <span> 1 </span>
                  </td>
                  <td class="returned_qty">
                  </td>
                  <td class="amount">
                    <span> {{ currency_code }} {{ format_currency(item_refund * -1)}} </span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            </tbody>
            </table>
            {% if loop.index == (paginated_items|length) %}
            <div class="values">
              <div class="contents">
                {% set discounts_value = total_discount_per_level(discounts, 'shipping') %}
                {% set total_shipping_value = discounts_value + checkout_amounts.shipping_and_handling %}
                {% if total_shipping_value > 0 %}
                    <p>{{ currency_code }} {{ format_currency(total_shipping_value) }}</p>
                {% endif %}
                {% if discounts_value > 0 %}
                  <p> {{ currency_code }} {{ format_currency(discounts_value * -1) }} </p>
                {% endif %}
                {% for disc in discounts %}
                  {% if disc.level == 'shipping' and discounts_value > 0 %}
                    <p> {{disc.reason}} </p>
                  {% endif %}
                {% endfor %}
                <p> {{ currency_code }} {{  format_currency(checkout_amounts.taxes) }}</p>
                <p class="total"> {{ currency_code }} {{  format_currency(checkout_amounts.grand_total) }}</p>
                {% for checkout_instrument in checkout_instruments %}
                    <p> {{ checkout_instrument.currency_code }} {{  format_currency(checkout_instrument.amount) }}</p>
                {% endfor %}
              </div>
              <div class="subjects">
                {% if checkout_amounts.shipping_and_handling != 0 or discounts_value > 0 %}
                    <p>{% if discounts_value > 0 %}[[[#subjects.original]]] {% endif %}[[[#subjects.shipping_handling]]]</p>
                {% endif %}
                {% if discounts_value > 0 %}
                  <p>[[[#subjects.shipping_discount]]]</p>
                {% endif %}
                {% for disc in discounts %}
                  {% if disc.level == 'shipping' and discounts_value > 0 %}
                    <p>[[[#subjects.shipping_discount_reason]]]</p>
                  {% endif %}
                {% endfor %}
                <p>[[[#subject.taxes]]] </p>
                <p class="total">[[[#subject.total]]] </p>
                {% for refund_instrument in refund_instruments %}
                  {% for transaction in refund_instrument.transactions %}
                    {% if transaction.name == "refund" %}
                        {% if refund_instrument.payment_method == "credit_cart" %}
                            <p class="total">{{transaction.metadata.brand}} {{transaction.metadata.last4 }}</p>
                        {% endif %}
                        {% if refund_instrument.payment_method == "paypal"%}
                            <p class="total"> [[[#payment.paypay]]] </p>
                        {% endif %}
                        {% if refund_instrument.payment_method == "gift_card"%}
                            <p class="total"> [[[#payment.gift_card]]] </p>
                        {% endif %}
                        {% if refund_instrument.payment_method == "cash"%}
                            <p class="total"> [[[#payment.cash]]] </p>
                        {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
              <div class="values">
                <div class="contents">
                  <p> {{ currency_code }} {{  format_currency(return_amounts.taxes * -1) }}</p>
                  <p class="total"> {{ currency_code }} {{  format_currency(return_amounts.grand_total * -1) }}</p>
                </div>
              </div>
              <div class="values">
                <div class="contents">
                    <p class="total"> {{ currency_code }} {{  format_currency(exchange_amounts.grand_total) }}</p>
                  </div>
                </div>
              <div class="return_sentence">
                [[[#return_sentence]]]
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="footer">
          <div class="qr_code_wrapper">
            <img alt="QR-Code" class="qr_code" src="data:image/png;base64,{{ qr_code }}">
          </div>
          <div class="footer_order_details">
            <p><strong> {{ order_number }} </strong></p>
            <p>{{ format_date(created_at, timezone) }} [[[#footer.at]]] {{ format_time(created_at, timezone) }}</p>
            <p>[[[#footer.page]]] {{ loop.index }} [[[#footer.of]]] {{ paginated_items|length }}</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endwith %}
  </div>
</html>
