{% extends 'pos_base' %}
{%- from 'macros' import currency, address, desnake with context -%}

{% block top_info %}
	<div class="top_info">
		<p class="order_id"><strong>[[[#table_header.ticket]]]: </strong>{% if order_details and order_details.order_id %}{{order_details.order_id}}{% else %}{{ order_id | default(order_number) }}{% endif %}</p>
		{% if customer_name %}<p><strong>[[[#table_header.customer]]]: </strong>{{ customer_name }}</p>{% elif billing_address and billing_address.name %}<p><strong>[[[#table_header.customer]]]: </strong>{{ billing_address.name }}</p>{% elif shipping_address and shipping_address.name %}<p><strong>[[[#table_header.customer]]]: </strong>{{ shipping_address.name }}</p>{% endif %}
		{% if shipping_method and shipping_method|lower != 'in_store_handover' %}
            {% if shipping_address %}<p><strong>[[[#information_address.shipping_address]]]: </strong></p>
                {% if shipping_address.name %}<p>{{ shipping_address.name }}</p>{% endif %}
                {% if shipping_address.address_line_1 %}<p>{{ shipping_address.address_line_1 }}</p>{% endif %}
                {% if shipping_address.address_line_2 %}<p>{{shipping_address.address_line_2 }}</p>{% endif %}
                        <p>{% if shipping_address.city %} {{ shipping_address.city }} {% endif %}
                                {% if shipping_address.state %} {{ shipping_address.state }} {% endif %}
                                {% if shipping_address.zip_code %} {{ shipping_address.zip_code }} {% endif %} </p>
            {% endif %}
        {% endif %}
	</div>
{% endblock %}

{% block item_list_sales %}
	<div class="item_list">
		<div class="item_list_header">
			<p>[[[#contents.header.description]]]</p>
			<p>[[[#contents.header.price]]]</p>
		</div>
		{% for item in flat_items %}
		{% set item_discounts = item.discounts | selectattr('level', 'equalto', 'item') | list %}
		{% set item_discounts_present = item_discounts|length > 0 %}
		<div {% if item_discounts_present == false %}class="item_list_item"{% endif %}>
			<div class="item_list_item_product_name">
				<p>{{ item.product_name }}</p>
			</div>
			<div class="item_list_info">
				<div class="item_list_id">
					<p>{% if item.external_identifier and item.external_identifier.sku and item.external_identifier.sku == 'GC-NEWSTORE' %}&nbsp;{% elif item.external_identifier and item.external_identifier.sku %}[[[#contents.header.item_id]]]: {{item.external_identifier.sku}}{% elif item.product_id %}[[[#contents.header.item_id]]]: {{item.product_id}}{% else %}[[[#contents.header.item_id]]]: ---{% endif %}</p>
				</div>
				<div class="item_list_amount {% if item_discounts_present == false %}text_bold{% else %}text_discounted{% endif %}">
					{{ currency(item.price_catalog) }}
				</div>
			</div>
			{% if item_discounts_present == true %}
				{% for discount in item_discounts %}
					{% if loop.last %}
						<div class="item_list_discount">
							<p>
								{{discount.reason}} {% if discount.discount_type == 'percentage' %}({{ discount.discount_value }}%){% endif %}
								{{currency(discount.price_adjustment, true)}}
							</p>
						</div>
						<div class="item_list_net_total item_list_item">
							<p>{{ currency(item.price_net) }}</p>
						</div>
					{% else %}
						<div class="item_list_discount">
							<p>
								{{discount.reason}} {% if discount.discount_type == 'percentage' %}({{ discount.discount_value }}%){% endif %}
								{{currency(discount.price_adjustment, true)}}
							</p>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block pricing_info_sales %}
	<div class="pricing_info">
		<div class="pricing_info_subtotal">
			<p>Subtotal</p>
			<p>{{ currency(amounts.sub_total) }}</p>
		</div>
		{% set order_discounts = discounts | selectattr('level', 'equalto', 'order') | list %}
		{% if order_discounts|length > 0 %}
			{% for discount in order_discounts %}
			<div class="pricing_info_discounts">
				<p>{{ discount.reason }} {% if discount.discount_type == 'percentage' %}(-{{ discount.discount_value }}%){% endif %}</p>
				<p>{{currency(discount.price_adjustment, true)}}</p>
			</div>
			{% endfor %}
		{% endif %}
		{% if shipping_method != 'in_store_handover' %}
			<div class="pricing_info_shipping">
				<p>[[[#subjects.shipping_handling]]]</p>
				<p>{{ currency(amounts.shipping_and_handling) }}</p>
			</div>
		{% endif %}
		<div class="pricing_info_taxes">
			<p>[[[#subjects.taxes]]]{%- if flat_items|selectattr("tax_method", "equalto", "vat_included")|list -%}(Incl){% elif flat_items|selectattr("vat_excluded")|list %}(Excl){%- endif -%}</p>
			<p>{{ currency(amounts.taxes) }}</p>
		</div>
		{% if amounts.tax_lines %}
                    {% for tax_line in amounts.tax_lines %}
                        <div class="pricing_info_taxes">
                            <p>{{((tax_line.rate * 100) | round(3) | string ).rstrip("0").rstrip(".")}}% {{ tax_line.name }}</p>
                            <p>{{ currency(tax_line.amount) }}</p>
                        </div>
                    {% endfor %}
        {% endif %}
		<div class="pricing_info_total">
			<p>[[[#subjects.total]]]</p>
			<p>{{ currency(amounts.grand_total) }}</p>
		</div>
	</div>
{% endblock %}

{% block payment_info %}
	<div class="payment_info">
		<div class="payment_info_header">
			<p>[[[payment_info.payments]]]</p>
		</div>
		{% for instrument in instruments %}
			{%- if instrument.payment_method == "adyen" or instrument.payment_method == "credit_card" -%}
				{%- if instrument.metadata and instrument.metadata.instrument_details -%}
					{%- if instrument.metadata.instrument_details.brand -%}
					<div class="payment_info_credit_card">
						<p>{{instrument.metadata.instrument_details.brand}}</p>
						<p>{{ currency(instrument.amount) }}</p>
					</div>
					{%- else -%}
					<div class="payment_info_credit_card">
						<p>[[[payment_info.credit_card]]]</p>
						<p>{{ currency(instrument.amount) }}</p>
					</div>
					{%- endif -%}
				{%- else -%}
				<div class="payment_info_credit_card">
					<p>[[[payment_info.credit_card]]]</p>
					<p>{{ currency(instrument.amount) }}</p>
				</div>
				{%- endif -%}
				{%- if instrument.metadata.instrument_details.last4 -%}
				<div>
					<p>[[[payment_info.card_no]]]: {{instrument.metadata.instrument_details.last4}}</p>
					<p></p>
				</div>
				{% endif %}
			{%- else -%}
			<div>
				<p>{{desnake(instrument.payment_method)}}</p>
				<p>{{ currency(instrument.amount) }}</p>
			</div>
				{% if instrument.payment_method == "cash" %}
				<div>
					<p>[[[payment_info.change]]]</p>
					<p>{{ currency(instrument.cash.change_amount) }}</p>
				</div>
				{% endif %}
			{%- endif -%}
		{% endfor %}
	</div>
{% endblock %}

{% block return_paragraph %}
	{% if store_phone_number and ('619-450-6303' in store_phone_number or '504-522-1890' in store_phone_number) %}
		<div class="return_paragraph">
			<p><strong>ALL SALES FINAL.<br>NO EXCHANGES OR REFUNDS ON ANY PURCHASES​</strong></p>
		</div>
	{% else %}
		<div class="return_paragraph">
			[[[#return_sentence]]]
		</div>
	{% endif %}
{% endblock %}

{% block thank_you_message %}

	{% if billing_address and billing_address.name %}
		<p class="thank_you_message">[[[thank_you]]] {{ billing_address.name }}!</p>
	{% elif shipping_address and shipping_address.name %}
		<p class="thank_you_message">[[[thank_you]]] {{ shipping_address.name }}!</p>
	{% endif %}
{% endblock %}
