{% extends 'email_base' %}

{% block title %}[[[title]]]{% endblock %}

{% block header %}[[[header]]]{% endblock %}

{% block body %}
	<table class="email-body" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td>
				<p style="padding-left:30px;">[[[text1]]] {{consumer_name | default("shopper")}}[[[text2]]]</p>
				<p style="padding-left:60px;">[[[text3]]]</p>
				<p style="padding-left:60px;">[[[text4]]]</p>
				<p style="padding-left:60px;">[[[text5]]]</p>
				<p class="signature" style="padding-left:60px;">[[[greeting]]]</p>
				<p class="signature" style="padding-left:60px;">[[[customer_service]]]</p>
			</td>
		</tr>
	</table>
{% endblock %}
