{%- set id = 'frankandoak' -%}
{%- set company_name = 'Frank And Oak' -%}
{%- set email_logo = 'https://assets.newstore.net/frankandoak/FAO_Logo_black.png' -%}
{%- set print_logo = 'https://assets.newstore.net/frankandoak/FAO_Logo_black.svg' -%}
{%- set phone = '+1.415.431.9196' -%}

{%- set urls = {
    'home': 'https://www.frankandoak.com/',
    'support': 'https://goorin.zendesk.com/hc/en-us/requests/new'
} -%}

{%- set blurbs = {
    'do_not_reply': 'Please do not reply to this email',
    'visit_store': 'Visit our store',
    'contact': 'Contact Us'
} -%}

{%- set social_links = {
    '1': {
        'name': 'Facebook',
        'url': 'https://www.facebook.com/frankandoak/',
        'icon': 'https://assets.newstore.net/untuckit/icons/facebook_icon.png'
    },
    '2': {
        'name': 'Instagram',
        'url': 'https://www.instagram.com/frankandoak/',
        'icon': 'https://assets.newstore.net/untuckit/icons/instagram_icon.png'
    },
    '3': {
        'name': 'Pinterest',
        'url': 'https://www.pinterest.ca/frankandoak/',
        'icon': 'https://assets.newstore.net/untuckit/icons/pinterest_icon.png'
    },
    '4': {
        'name': 'Twitter',
        'url': 'https://twitter.com/frankandoak/',
        'icon': 'https://assets.newstore.net/untuckit/icons/twitter_icon.png'
    }
} -%}

{%- set store = store_name if store_name else '' -%}
{%- set address = {
    'name': store,
	'address_line_1': '1269 Howard Street',
	'city': 'San Francisco',
	'state': 'CA',
	'zip_code': '94103',
	'country_name': 'United States',
	'country_code': 'US'
} -%}

{%- set fonts = {
	'proxima_nova': 'https://assets.newstore.net/untuckit/fonts/proxima_nova_bold.otf',
	'avenir': 'https://assets.newstore.net/untuckit/fonts/avenir_light.otf'
} -%}


--DEPRECATED--
{%- set icons = {
	'phone': 'https://assets.newstore.net/untuckit/icons/phone_icon.png',
	'email': 'https://assets.newstore.net/untuckit/icons/email_icon.png',
	'web': 'https://assets.newstore.net/untuckit/icons/web_icon.png',
	'truck': 'https://assets.newstore.net/untuckit/icons/truck_icon.png',
	'gift_card': 'https://assets.newstore.net/untuckit/icons/giftcard_icon.png',
	'facebook': 'https://assets.newstore.net/untuckit/icons/facebook_icon.png',
	'twitter': 'https://assets.newstore.net/untuckit/icons/twitter_icon.png',
	'pinterest': 'https://assets.newstore.net/untuckit/icons/pinterest_icon.png',
	'instagram': 'https://assets.newstore.net/untuckit/icons/instagram_icon.png',
	'facebook_dark': 'https://assets.newstore.net/untuckit/icons/facebook_dark.png',
	'twitter_dark': 'https://assets.newstore.net/untuckit/icons/twitter_dark.png',
	'pinterest_dark': 'https://assets.newstore.net/untuckit/icons/pinterest_dark.png',
	'instagram_dark': 'https://assets.newstore.net/untuckit/icons/instagram_dark.png'
} -%}
