[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lambda_utils= {path = "./../../shared/lambda_utils"}
requests="2.18.4"
segno="*"

[requires]
python_version = "3.7"
