[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
boto3 = "*"
newstore-common = {editable = true,path = "."}
requests = "*"
newstore-adapter = {path = "./../newstore_adapter"}
dacite = "*"
lxml = "*"

[requires]
python_version = "3.6"
