[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "==1.17.88"
moto = "==2.0.8"
docker = "==5.0.0"
pyyaml = "==5.4.1"
newstore-adapter = {path = "./../../shared/newstore_adapter"}
param-store = {path = "./../../shared/3.6/param_store"}
newstore-common = {path = "./../../shared/common"}
gql = "==2.0.0"
requests = "==2.25.1"

[requires]
python_version = "3.7"
