[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
newstore-adapter = {path = "./../../shared/newstore_adapter"}
pom-common = {path = "./../../shared/pom_common"}
param-store = {path = "./../../shared/3.6/param_store"}
requests = "*"
boto3 = "*"
moto = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
