{% extends 'pos_base' %}
{%- from 'macros' import currency, address, desnake with context -%}

{% block top_info %}
	<div class="top_info">
		<p class="order_id"><strong>Ticket: </strong>{% if order_details and order_details.order_id %}{{order_details.order_id}}{% else %}{{ order_id | default(order_number) }}{% endif %}</p>
	</div>
{% endblock %}

{% block item_list_gift %}
	<div class="item_list">
		<div class="item_list_header">
			<p>Description</p>
			<p></p>
		</div>
		{% for item in flat_items %}
			<div class="item_list_gift_info">
				<p>{{ item.product_name }}</p>
				<p>{% if item.external_identifier and item.external_identifier.sku and item.external_identifier.sku == 'GC-NEWSTORE' %}&nbsp;{% elif item.product_id %}Item ID: {{item.product_id}}{% elif item.external_identifier and item.external_identifier.sku %}Item ID: {{item.external_identifier.sku}}{% else %}Item ID: ---{% endif %}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block return_paragraph %}
	{% if store_phone_number and ('619-450-6303' in store_phone_number or '504-522-1890' in store_phone_number) %}
		<div class="return_paragraph">
			<p><strong>ALL SALES FINAL.<br>NO EXCHANGES OR REFUNDS ON ANY PURCHASES​</strong></p>
		</div>
	{% else %}
		<div class="return_paragraph">
			<p>Goorin Bros. offers returns and exchanges within 14 days of purchase. Items
			must be accompanied by the original paper or digital receipt; products must be
			in perfect sellable condition with tags attached. Items not accompanied with the
			receipt, the original tags attached and is not in perfect sellable condition will
			not be accepted. Returns or exchanges outside of the 14-day date of purchase
			window will not be honored. Items that are part of a final sale promotion, are
			not eligible for returns, exchanges, or price adjustments. Goorin Bros. retail store
			purchases cannot be returned to our online store. Gift cards cannot be exchanged,
			refunded, or redeemed for cash or credit except when required by law.</p>&nbsp;
			<p> <strong> SPECIAL NOTICE: </strong> </p> &nbsp;
			<p> <strong> Due to COVID-19, all sales of face masks are final sale. </strong> </p>
		</div>
	{% endif %}
{% endblock %}
