[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
boto3 = "*"
botocore = "*"
requests = "*"
pytest = "*"
moto = "*"
ptvsd = "*"


[requires]
python_version = "3.7"
