[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pytest = "*"
newstore-common = {path = "./../../shared/common"}
newstore-adapter = {path = "./../../shared/newstore_adapter"}
netsuite = {path = "./../../shared/python_netsuite"}
param-store = {path = "./../../shared/3.6/param_store"}
dacite = "*"
boto3 = "*"
falcon = "*"
requests-oauthlib = "*"
requests = "*"

[requires]
python_version = "3.7"
