[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newstore_adapter = {path = "./../../shared/newstore_adapter"}
lambda_utils = {path = "./../../shared/lambda_utils"}

[dev-packages]

[requires]
python_version = "3.7"
