[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sailthru-client = "*"
param-store = {path = "./../../shared/3.6/param_store"}

[requires]
python_version = "3.7"
