[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
pytz = "*"
ptvsd = "*"
newstore-adapter = {path = "./../../shared/newstore_adapter"}
param-store = {path = "./../../shared/3.6/param_store"}
lambda-utils = {path = "./../../shared/lambda_utils"}
netsuite = {path = "./../../shared/python_netsuite"}

[requires]
python_version = "3.7"
