[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
newstore-adapter = {path = "./../../shared/newstore_adapter"}
shopify-adapter = {path = "./../../shared/shopify_adapter"}
param-store = {path = "./../../shared/3.6/param_store"}
pom-common = {path = "./../../shared/pom_common"}
jsonschema = "*"
simplejson = "*"
aiohttp="3.0.1"
aioresponses="0.4.1"
requests="v2.20.1"
dacite = "*"
boto3="*"

[requires]
python_version = "3.7"
