[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
newstore_adapter = {path = "./../../shared/newstore_adapter"}
lambda_utils = {path = "./../../shared/lambda_utils"}
requests="v2.20.1"
zeep="2.5.0"

[requires]
python_version = "3.7"
